# Temas vistos el 06 de marzo del 2022
[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/danielroa98/Postgrad-ML/blob/main/Module-2/06_Mar_2023_lec_5_M3G6P_DRG.ipynb)

Library imports

In [1]:
import pandas as pd
import numpy as np
# Librería para conectarse a MySQL 
# Funge como interfaz para comunicarnos con el driver 
# Importar las librerías necesarias de SQLAlchemy para que no se atarante la computadora.
from sqlalchemy import create_engine

Dialecto de SQL
API
Datos de conexión para MySQL (usuario, contraseña, host)

`dialecto+api_drive://usuario: contraseña@host`

In [2]:
engine = create_engine("mysql+pymysql://root:Barry.2O16@localhost")

In [3]:
engine.execute("CREATE DATABASE ejemplosql")

/var/folders/6b/ddjkk4l908n5cwpnvhllb3fc0000gn/T/ipykernel_34152/4177498843.py:1: RemovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  engine.execute("CREATE DATABASE ejemplosql")

In [4]:
engine2 = create_engine("mysql+pymysql://root:Barry.2O16@localhost/banco_base")

In [5]:
base = pd.read_sql("SELECT * FROM clientes", engine2)
base

,id_cliente,nombre,edad,pais,ingresos,estrato,sexo
0,1,Paula,58,Guinea-Bissau,20160.0,3,M
1,2,Florence,103,"Congo, the Democratic Republic of the",33333.0,3,M
2,3,Alana,87,Nepal,43892.0,3,M
3,4,Kimberley,63,Jordan,59466.0,3,M
4,5,Brenden,26,Cocos (Keeling) Islands,16094.0,3,M
...,...,...,...,...,...,...,...
95,96,Sonia,34,Madagascar,70523.0,2,F
96,97,Neil,105,New Zealand,71149.0,3,M
97,98,Genevieve,103,Sri Lanka,12565.0,2,M
98,99,Ignacia,52,Bermuda,29378.0,1,F
99,100,Zahir,80,Georgia,70779.0,3,F

In [6]:
from sqlalchemy.orm import sessionmaker

In [7]:
engine3 = create_engine("mysql+pymysql://root:Barry.2O16@localhost/ejemplosql")

In [9]:
# Inicialización de clase guardada en la var Session
## Usadas para guardar tuplas en una sola sesión.
Session = sessionmaker(bind=engine3)

In [10]:
# Inicialización de un objeto de la clase
session = Session()

Para guardar un objeto:
1. Se requiere un _engine_.
2. Una sesión (Session).
3. Creación de modelos.

In [11]:
from sqlalchemy.ext.declarative import declarative_base