# Temas vistos el 08 de marzo del 2022
[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/danielroa98/Postgrad-ML/blob/main/Module-2/08_Mar_2023_lec_6_M3G6P_DRG.ipynb)

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

# 1 engine
# 2 sessions
# Crear modelo
# from sqlalchemy

# Creación de un esquema

`SCHEMA` creation

In [3]:
engine = create_engine("mysql+pymysql://root:Barry.2O16@localhost")
engine

Engine(mysql+pymysql://root:***@localhost)

In [4]:
engine.execute("CREATE DATABASE prueba1")

/var/folders/6b/ddjkk4l908n5cwpnvhllb3fc0000gn/T/ipykernel_54740/380524502.py:1: RemovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  engine.execute("CREATE DATABASE prueba1")

In [5]:
db_engine = create_engine("mysql+pymysql://root:Barry.2O16@localhost/prueba1")
db_engine

Engine(mysql+pymysql://root:***@localhost/prueba1)

In [6]:
from sqlalchemy.ext.declarative import declarative_base

In [8]:
Base = declarative_base()

In [9]:
from sqlalchemy import Column, Integer, String, Float, CHAR, Date, Text

In [11]:
# Se estarán heredando los métodos de Base, los cuales fueron declarados antes
class Bono(Base):
    # Atributos por default en la clase
    # Declaración del nombre de la tabla
    __tablename__ = "bono"
    # El Column() permite mapear el atributo para que funcione con SQL -> Column() los interpreta como las columnas de una tabla
    # No se está especificando en el __init__ ya que se está usando como Serial en MySQL.
    id = Column(Integer, primary_key=True)
    nombre_pizarra = Column(String(25), nullable=False)
    ym = Column(Float)
    vn = Column(Float)
    tc = Column(Float)
    vencimiento = Column(Date)

    # Self = alias para renombrar las cosas exclusivamente dentro de la clase.
    def __init__(self, nombre_pizarra, ym, vn, tc, vencimiento):
        self.nombre_pizarra = nombre_pizarra
        self.ym = ym
        # Valor nominal
        self.vn = vn
        # Tasa
        self.tc = tc
        # Fecha de vencimiento
        self.vencimiento = vencimiento

In [ ]:
Base.metadata.create_all(db_engine)

In [12]:
Bono.metadata.create_all(db_engine)

### Creación de objetos

In [18]:
bono1 = Bono("BonoXXX", .03, 100, 0.5, "2023-03-08")
bono2 = Bono("bonoXXMX1", .03, 100, .03, "2024-12-05")
bono3 = Bono("bonoXXMX2", .02, 100, .05, "2025-12-05")
bono4 = Bono("bonoXXMX3", .03, 100, .06, "2026-12-05")
bono5 = Bono("bonoXXMX4", .05, 100, .07, "2027-12-05")
bono6 = Bono("bonoXXMX5", .06, 100, .08, "2028-12-05")
bono7 = Bono("bonoXXMX6", .07, 100, .01, "2028-12-05")

Creación de sesiones (_sessions_)

In [19]:
from sqlalchemy.orm import sessionmaker

In [20]:
Session = sessionmaker(bind=db_engine)

In [21]:
session = Session()

Inserción de objetos en la session

In [22]:
session.add(bono1)
session.add(bono2)
session.add(bono3)
session.add(bono4)
session.add(bono5)
session.add(bono6)
session.add(bono7)

In [23]:
session.commit()

# Sacar datos de MySQL

In [29]:
# Se recomienda hacer consultas en bases de datos grandes usando SQL, debido a que está optimizado
prueba1_df = pd.read_sql("SELECT COUNT(*) \
                         FROM bono", db_engine)

In [32]:
# Otra forma de declarar la línea anterior
prubea1_df = pd.read_sql("""SELECT COUNT(*) 
                            FROM bono""", db_engine)

In [33]:
prueba1_df

   COUNT(*)
0         7

# `HTML`