# Topics seen on November 7, 2022
[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/danielroa98/Postgrad-ML/blob/main/Modulo-1/07_Nov_2022_lec_01_M1G6P_DRG.ipynb)

### Libraries seen
- Pandas

#### Library import

In [26]:
import pandas as pd

#### Data types

In [27]:
# ints: 3, 4, -1
# float 1.618, 2.4342
# string: 'abcd' (object)
# boolean: True or False

#### Operadores

In [28]:
# To erase decimals
10//3

3

In [29]:
# Modulo
34%4 # If 34 is being divided by 4, the result will be 8, therefore the RESIDUAL is 2

2

#### Funciones ad-hoc

Se puede incorporar la lógica específica que necesitemos para resolver un problema:
- Función que calcule la velocidad (v), donde v=d/t .
    - d = distancia
    - t = tiempo
- Función que tome como argumento la temperatura expresada en grados Fahrenheit y la convierta a Celsius.

##### Para calcular la velocidad

In [30]:
def calculo_velocidad(d, t):
    v = d/t
    return v

##### Para convertir a Celsius

In [31]:
def convert_to_celsius(tempInF=0):
    tempInC = (tempInF - 32) * 5/9
    return tempInC

##### Testing the functions

In [32]:
d = 100
t = 2
tempInF = 32
print(f'La velocidad en una distancia {d} m y {t} segundos es {calculo_velocidad(d, t)}\n')
print(f'La temperatura {tempInF}°F es {convert_to_celsius(tempInF)}°C')

La velocidad en una distancia 100 m y 2 segundos es 50.0

La temperatura 32°F es 0.0°C

#### Métodos para Strings

In [33]:
puesto = 'data scientist'

In [34]:
puesto.upper()

'DATA SCIENTIST'

In [35]:
puesto.title()

'Data Scientist'

In [36]:
puesto.capitalize()

'Data scientist'

In [37]:
whos

Variable             Type        Data/Info
------------------------------------------
calculo_velocidad    function    <function calculo_velocidad at 0x7fb389d4a0d0>
convert_to_celsius   function    <function convert_to_celsius at 0x7fb389d4a160>
d                    int         100
os                   module      <module 'os' from '/Users<...>zas/lib/python3.9/os.py'>
pd                   module      <module 'pandas' from '/U<...>ages/pandas/__init__.py'>
puesto               str         data scientist
sys                  module      <module 'sys' (built-in)>
t                    int         2
tempInF              int         32

In [38]:
"    agua      ".strip()

'agua'

In [39]:
"    agua      ".lstrip()

'agua      '

In [40]:
"    agua      ".rstrip()

'    agua'

In [42]:
puesto = 'Data Scientist'

In [43]:
puesto.replace('Scientist', 'Analyst')

'Data Analyst'

##### Method chaining
O encadenamiento de métodos

In [47]:
puesto = '      Data Scientist      '
puesto

'      Data Scientist      '

In [48]:
puesto.strip().replace('Scientist', 'Analyst')

'Data Analyst'

#### Data structures

##### Lists

In [49]:
emptyList = []

In [50]:
b = [True, False, True, False, True, True]

#### Ejercicio rápido
Calcular la suma: 1+2+3+4+...+n

In [51]:
def suma_primeros_consecutivos(n):
    res = n * (n+1)/2
    return res

In [56]:
suma_primeros_consecutivos(100)

5050.0