# Temas vistos el 9 de noviembre del 2022
[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/danielroa98/Postgrad-ML/blob/main/Module-1/09_Nov_2022_lec_02_M1G6P_DRG.ipynb)

### Slicing

In [1]:
# TODO: update it with the class files.

### Tuples

In [2]:
t = 'a', 'b', 'c', 'd'
t

('a', 'b', 'c', 'd')

### Dictionaries
- Colección no ordenada de pares:
    - key - value
    - llave - valor
- Es mutable
- Las keys (o llaves) deben ser únicas, los valores no.

#### Ejemplo - menú

In [3]:
menu = {
    'sopa': 89,
    'salmón': 259,
    'atún': 319,
    'pollo': 189
}

In [4]:
type(menu)

dict

In [5]:
len(menu)

4

Para acceder a algún valor, se utilizan los brackets '[ ]'.

In [6]:
menu['salmón']

259

In [7]:
# Si hay un error con la llave, puede llegar a no existir, se va a ver de la siguiente manera.
menu['hot-dog']

KeyError: 'hot-dog'

#### Operaciones con diccionarios

##### Para añadir llaves y valores al diccionario...

In [8]:
menu['espárragos'] = 200

In [9]:
menu

{'sopa': 89, 'salmón': 259, 'atún': 319, 'pollo': 189, 'espárragos': 200}

In [10]:
menu.pop('espárragos')
menu

{'sopa': 89, 'salmón': 259, 'atún': 319, 'pollo': 189}

##### Para realizar búsquedas en las llaves de los diccionarios

In [11]:
'leche' in menu

False

In [12]:
'salmón' in menu

True

In [13]:
89 in menu

False

##### Para realizar búsquedas en los valores de los diccionarios

In [14]:
89 in menu.values()

True

In [15]:
200 in menu.values()

False

##### Para obtener las llaves de un diccionario

In [16]:
menu.keys()

dict_keys(['sopa', 'salmón', 'atún', 'pollo'])

##### Para obtener las llaves y sus valores respectivos
Regresa una lista de tuplas.

In [18]:
menu.items()

dict_items([('sopa', 89), ('salmón', 259), ('atún', 319), ('pollo', 189)])

##### Para obtener los valores de un diccionario

In [17]:
menu.values()

dict_values([89, 259, 319, 189])

### Pandas Series

In [19]:
import pandas as pd

##### Serie (series)
- Arreglo etiquetado de __una__ dimensión.
- Es una columna de datos.
- __Importante__: consistencia, usar el mismo tipo de datos.
- Se usa el método _series_ para crear una serie.
- __Series()__ es un método constructor.

In [20]:
paises = ['Mexico', 'USA', 'France', 'England']
s = pd.Series(paises)
s

0     Mexico
1        USA
2     France
3    England
dtype: object

En una serie, el índice puede ser cualquier tipo, _no sólo numérico_.

Por default, nos da un índice que empieza en cero.

In [21]:
type(s)

pandas.core.series.Series

In [22]:
pares = [2,4,6,8,10]
pd.Series(pares)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [23]:
estatus_pago = [False,False,True,False]
pd.Series(estatus_pago)

0    False
1    False
2     True
3    False
dtype: bool

#### Creando una serie de un diccionario
Se le pueden definir los índices, estas son las llaves.

In [24]:
dic = {
    'pelicula': 'Encanto',
    'genero': 'Infantil',
    'año': 2020,
}
pd.Series(dic)

pelicula     Encanto
genero      Infantil
año             2020
dtype: object

##### Quick additional information for Pandas dataframes

In [26]:
dic = {
    'A': [0, 1],
    'B': ['AB', 'C']
}

In [29]:
df = pd.DataFrame(dic)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       2 non-null      int64
 1   B       2 non-null      object
dtypes: int64(1), object(1)
memory usage: 160.0+ bytes

## Intro a métodos y atributos

In [31]:
ciudades = ['CDMX', 'MTY', 'Milán', 'London']
cds = pd.Series(ciudades)
cds

0      CDMX
1       MTY
2     Milán
3    London
dtype: object

Los atributos no requieren paréntesis.

In [32]:
cds.values

array(['CDMX', 'MTY', 'Milán', 'London'], dtype=object)

In [33]:
cds.index

RangeIndex(start=0, stop=4, step=1)

In [34]:
cds.dtype

dtype('O')

In [35]:
precios = [23.4, 99, 44, 34.34, 4.5]
p = pd.Series(precios)
saldos = [-29000, -10500, 5000, 13000]
sal = pd.Series(saldos)

In [36]:
p

0    23.40
1    99.00
2    44.00
3    34.34
4     4.50
dtype: float64

Para calcular la suma de todos los elementos en una serie.

In [38]:
p.sum()

205.24

In [37]:
sal

0   -29000
1   -10500
2     5000
3    13000
dtype: int64

Para calcular el valor absoluto

In [39]:
sal.abs()

0    29000
1    10500
2     5000
3    13000
dtype: int64

In [40]:
l = [1,2,3]
l.sum() # Este tipo de operaciones solo funcionan correctamente con las Series

AttributeError: 'list' object has no attribute 'sum'

In [41]:
comida = ['huevo','res','pollo','pescado','vegetales']
dias = ['lu','ma','mie','jue','vie']
pd.Series(comida,dias)

lu         huevo
ma           res
mie        pollo
jue      pescado
vie    vegetales
dtype: object

In [42]:
pd.Series(index=dias,data=comida)

lu         huevo
ma           res
mie        pollo
jue      pescado
vie    vegetales
dtype: object

### Managing data from external sources

In [44]:
iris = pd.read_csv('./Data/iris.csv')

In [45]:
# LDA: Linear Discriminant Analysis, Machine Learning Classification
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]