# Temas vistos el 9 de noviembre del 2022
[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/danielroa98/Postgrad-ML/blob/main/Module-1/09_Nov_2022_lec_02_M1G6P_DRG.ipynb)

### Slicing

In [1]:
# TODO: update it with the class files.

### Tuples

In [2]:
t = 'a', 'b', 'c', 'd'
t

('a', 'b', 'c', 'd')

### Dictionaries
- Colección no ordenada de pares:
    - key - value
    - llave - valor
- Es mutable
- Las keys (o llaves) deben ser únicas, los valores no.

#### Ejemplo - menú

In [3]:
menu = {
    'sopa': 89,
    'salmón': 259,
    'atún': 319,
    'pollo': 189
}

In [4]:
type(menu)

dict

In [5]:
len(menu)

4

Para acceder a algún valor, se utilizan los brackets '[ ]'.

In [6]:
menu['salmón']

259

In [7]:
# Si hay un error con la llave, puede llegar a no existir, se va a ver de la siguiente manera.
menu['hot-dog']

KeyError: 'hot-dog'

#### Operaciones con diccionarios

##### Para añadir llaves y valores al diccionario...

In [8]:
menu['espárragos'] = 200

In [9]:
menu

{'sopa': 89, 'salmón': 259, 'atún': 319, 'pollo': 189, 'espárragos': 200}

In [10]:
menu.pop('espárragos')
menu

{'sopa': 89, 'salmón': 259, 'atún': 319, 'pollo': 189}

##### Para realizar búsquedas en las llaves de los diccionarios

In [11]:
'leche' in menu

False

In [12]:
'salmón' in menu

True

In [13]:
89 in menu

False

##### Para realizar búsquedas en los valores de los diccionarios

In [14]:
89 in menu.values()

True

In [15]:
200 in menu.values()

False

##### Para obtener las llaves de un diccionario

In [16]:
menu.keys()

dict_keys(['sopa', 'salmón', 'atún', 'pollo'])

##### Para obtener las llaves y sus valores respectivos
Regresa una lista de tuplas.

In [18]:
menu.items()

dict_items([('sopa', 89), ('salmón', 259), ('atún', 319), ('pollo', 189)])

##### Para obtener los valores de un diccionario

In [17]:
menu.values()

dict_values([89, 259, 319, 189])

### Pandas Series

In [19]:
import pandas as pd

##### Serie (series)
- Arreglo etiquetado de __una__ dimensión.
- Es una columna de datos.
- __Importante__: consistencia, usar el mismo tipo de datos.
- Se usa el método _series_ para crear una serie.
- __Series()__ es un método constructor.

In [20]:
paises = ['Mexico', 'USA', 'France', 'England']
s = pd.Series(paises)
s

0     Mexico
1        USA
2     France
3    England
dtype: object

En una serie, el índice puede ser cualquier tipo, _no sólo numérico_.

Por default, nos da un índice que empieza en cero.

In [21]:
type(s)

pandas.core.series.Series

In [22]:
pares = [2,4,6,8,10]
pd.Series(pares)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [23]:
estatus_pago = [False,False,True,False]
pd.Series(estatus_pago)

0    False
1    False
2     True
3    False
dtype: bool

#### Creando una serie de un diccionario
Se le pueden definir los índices, estas son las llaves.

In [24]:
dic = {
    'pelicula': 'Encanto',
    'genero': 'Infantil',
    'año': 2020,
}
pd.Series(dic)

pelicula     Encanto
genero      Infantil
año             2020
dtype: object

##### Quick additional information for Pandas dataframes

In [26]:
dic = {
    'A': [0, 1],
    'B': ['AB', 'C']
}

In [29]:
df = pd.DataFrame(dic)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       2 non-null      int64
 1   B       2 non-null      object
dtypes: int64(1), object(1)
memory usage: 160.0+ bytes

## Intro a métodos y atributos

In [31]:
ciudades = ['CDMX', 'MTY', 'Milán', 'London']
cds = pd.Series(ciudades)
cds

0      CDMX
1       MTY
2     Milán
3    London
dtype: object

Los atributos no requieren paréntesis.

In [32]:
cds.values

array(['CDMX', 'MTY', 'Milán', 'London'], dtype=object)

In [33]:
cds.index

RangeIndex(start=0, stop=4, step=1)

In [34]:
cds.dtype

dtype('O')

In [35]:
precios = [23.4, 99, 44, 34.34, 4.5]
p = pd.Series(precios)
saldos = [-29000, -10500, 5000, 13000]
sal = pd.Series(saldos)

In [36]:
p

0    23.40
1    99.00
2    44.00
3    34.34
4     4.50
dtype: float64

Para calcular la suma de todos los elementos en una serie.

In [38]:
p.sum()

205.24

In [37]:
sal

0   -29000
1   -10500
2     5000
3    13000
dtype: int64

Para calcular el valor absoluto

In [39]:
sal.abs()

0    29000
1    10500
2     5000
3    13000
dtype: int64

In [40]:
l = [1,2,3]
l.sum() # Este tipo de operaciones solo funcionan correctamente con las Series

AttributeError: 'list' object has no attribute 'sum'

In [41]:
comida = ['huevo','res','pollo','pescado','vegetales']
dias = ['lu','ma','mie','jue','vie']
pd.Series(comida,dias)

lu         huevo
ma           res
mie        pollo
jue      pescado
vie    vegetales
dtype: object

In [42]:
pd.Series(index=dias,data=comida)

lu         huevo
ma           res
mie        pollo
jue      pescado
vie    vegetales
dtype: object

### Managing data from external sources

In [44]:
iris = pd.read_csv('./Data/iris.csv')

In [45]:
# LDA: Linear Discriminant Analysis, Machine Learning Classification
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [46]:
print(f'Data type is: {type(iris)}\nThe length of the dataframe is {len(iris)}')

Data type is: <class 'pandas.core.frame.DataFrame'>
The length of the dataframe is 150

##### En caso que queramos importar una sola columna como una serie:

In [49]:
iris_red = pd.read_csv('./Data/iris.csv', usecols=['species'], squeeze=True)

/var/folders/6b/ddjkk4l908n5cwpnvhllb3fc0000gn/T/ipykernel_22866/1627977049.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  iris_red = pd.read_csv('./Data/iris.csv', usecols=['species'], squeeze=True)

In [50]:
iris_red

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [51]:
type(iris_red)

pandas.core.series.Series

Las opciones por default de _head_ y _tail_ es de __5__.

In [54]:
print(f'{iris_red.head(7)}\n\n{iris_red.tail(6)}')

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
5    setosa
6    setosa
Name: species, dtype: object

144    virginica
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, dtype: object

### Google Stock Prices Exercise

In [60]:
google = pd.read_csv('./Data/google_stock_price.csv', usecols=['Stock Price'])
google = google.squeeze()
# Time series with the stock price.
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [62]:
google.values

array([ 50.12,  54.1 ,  54.65, ..., 773.18, 771.61, 782.22])

In [63]:
google.index

RangeIndex(start=0, stop=3012, step=1)

In [64]:
# To get the dimensions in the Series/Dataframe
google.ndim

1

In [65]:
google.shape
# 3012, rows and 1 column

(3012,)

In [67]:
google.size
# WARNING: it counts the null values

3012

#### Method: sort_values()

In [69]:
google.sort_values()

11       49.95
9        50.07
0        50.12
10       50.70
12       50.74
         ...
3010    771.61
3007    772.88
3009    773.18
2859    776.60
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [70]:
google.sort_values().head() #method chaining

11    49.95
9     50.07
0     50.12
10    50.70
12    50.74
Name: Stock Price, dtype: float64

In [71]:
google.sort_values(ascending=False)

3011    782.22
2859    776.60
3009    773.18
3007    772.88
3010    771.61
         ...
12       50.74
10       50.70
0        50.12
9        50.07
11       49.95
Name: Stock Price, Length: 3012, dtype: float64

In [92]:
google = google.sort_values(ascending=False, inplace=False)
google

3011    782.22
2859    776.60
3009    773.18
3007    772.88
3010    771.61
         ...
12       50.74
10       50.70
0        50.12
9        50.07
11       49.95
Name: Stock Price, Length: 3012, dtype: float64

#### Method value_counts

In [79]:
iris_red

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [80]:
iris_red.value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [81]:
iris_red.value_counts()/150*100

setosa        33.333333
versicolor    33.333333
virginica     33.333333
Name: species, dtype: float64

In [82]:
# Frecuencias relativas o proporciones
# Conteos en términos de proporciones
iris_red.value_counts(normalize=True)

setosa        0.333333
versicolor    0.333333
virginica     0.333333
Name: species, dtype: float64

In [83]:
iris_red.value_counts(normalize=True)*100

setosa        33.333333
versicolor    33.333333
virginica     33.333333
Name: species, dtype: float64

In [84]:
# La búsqueda es realizada sobre el índice.
'setosa' in iris_red

False

In [85]:
'setosa' in iris_red.values

True

Se quiere acceder a mas de un elemento, así que se le va a pasar una lista.

In [86]:
# Primeros corchetes es para indicar que se quiere acceder a unos valores.
# Los segundos corchetes son porque se le está pasando una lista.
iris_red[[2,6,100]]

2         setosa
6         setosa
100    virginica
Name: species, dtype: object

In [87]:
# Slicing de una Series == slicing de un string
iris_red[10:100]

10        setosa
11        setosa
12        setosa
13        setosa
14        setosa
         ...
95    versicolor
96    versicolor
97    versicolor
98    versicolor
99    versicolor
Name: species, Length: 90, dtype: object

In [88]:
# Desde el inicio hasta el 49
iris_red[:50]

0     setosa
1     setosa
2     setosa
3     setosa
4     setosa
5     setosa
6     setosa
7     setosa
8     setosa
9     setosa
10    setosa
11    setosa
12    setosa
13    setosa
14    setosa
15    setosa
16    setosa
17    setosa
18    setosa
19    setosa
20    setosa
21    setosa
22    setosa
23    setosa
24    setosa
25    setosa
26    setosa
27    setosa
28    setosa
29    setosa
30    setosa
31    setosa
32    setosa
33    setosa
34    setosa
35    setosa
36    setosa
37    setosa
38    setosa
39    setosa
40    setosa
41    setosa
42    setosa
43    setosa
44    setosa
45    setosa
46    setosa
47    setosa
48    setosa
49    setosa
Name: species, dtype: object

In [89]:
# Últimos 10 elementos
iris_red[-10:]

140    virginica
141    virginica
142    virginica
143    virginica
144    virginica
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, dtype: object

#### Statistical methods

In [93]:
google

3011    782.22
2859    776.60
3009    773.18
3007    772.88
3010    771.61
         ...
12       50.74
10       50.70
0        50.12
9        50.07
11       49.95
Name: Stock Price, Length: 3012, dtype: float64

In [94]:
# Max in Series
google.max()

782.22

In [95]:
google.min()

49.95

To get the position of the max and the min numbers.

In [96]:
# To get the index of the max numerical value.
google.idxmax()

3011

In [98]:
# To get the index of the min numerical value.
google.idxmin()

11

In [99]:
# Para contar los valores no nulos
google.count()

3012

### Additional methods

In [100]:
import numpy as np

In [101]:
lista = [1, np.nan, 3, 4]
lista

[1, nan, 3, 4]

In [103]:
s1 = pd.Series(lista)
s1

0    1.0
1    NaN
2    3.0
3    4.0
dtype: float64

In [107]:
s1.count() # cuenta los no nulls

3

In [106]:
s1.value_counts().sum()

3

In [108]:
s1.size

4