# Temas vistos el 14 de noviembre del 2022
[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/danielroa98/Postgrad-ML/blob/main/Module-1/14_Nov_2022_lec_03_M1G6P_DRG.ipynb)

### Library imports

In [1]:
import numpy as np
import pandas as pd

## Quick recap

In [2]:
lista = [1, np.nan, 3, 4]

In [3]:
s1 = pd.Series(lista)
s1

0    1.0
1    NaN
2    3.0
3    4.0
dtype: float64

In [4]:
s1.count()

3

In [5]:
# Atributo, no es una función
# Si cuenta valores nulos
s1.size

4

In [6]:
s1

0    1.0
1    NaN
2    3.0
3    4.0
dtype: float64

In [7]:
iris = pd.read_csv("./Datasets/iris.csv")
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

## Continuing

In [8]:
iris_id_df = pd.read_csv("./Datasets/iris_id.csv", usecols=['id','species'],index_col='id')
iris_id = iris_id_df.squeeze()

In [9]:
iris_id.head()

id
A1    setosa
A2    setosa
A3    setosa
A4    setosa
A5    setosa
Name: species, dtype: object

In [10]:
iris_id.index

Index(['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10',
       ...
       'A141', 'A142', 'A143', 'A144', 'A145', 'A146', 'A147', 'A148', 'A149',
       'A150'],
      dtype='object', name='id', length=150)

### Extrayendo mediante las etiquetas del índice

In [11]:
iris_id['A15']

'setosa'

In [12]:
# Ejemplo de otra sintáxis
iris_id['A1':'A20']
# Cuando se usan etiquetas del índice el límite superior si está incluido.

id
A1     setosa
A2     setosa
A3     setosa
A4     setosa
A5     setosa
A6     setosa
A7     setosa
A8     setosa
A9     setosa
A10    setosa
A11    setosa
A12    setosa
A13    setosa
A14    setosa
A15    setosa
A16    setosa
A17    setosa
A18    setosa
A19    setosa
A20    setosa
Name: species, dtype: object

In [13]:
# El último valor funciona como un "step", entonces brinca una cantidad de valores.
iris_id['A1':'A20':2]

id
A1     setosa
A3     setosa
A5     setosa
A7     setosa
A9     setosa
A11    setosa
A13    setosa
A15    setosa
A17    setosa
A19    setosa
Name: species, dtype: object

#### Método .get() sobre una Serie

In [14]:
iris_id.get(0)

'setosa'

In [15]:
iris_id.get("A20") # Equivalente a iris_id['A20']

'setosa'

In [16]:
iris_id.get(['A2','A6','A21'])

id
A2     setosa
A6     setosa
A21    setosa
Name: species, dtype: object

In [17]:
iris_id[['A2','A6','A21']]

id
A2     setosa
A6     setosa
A21    setosa
Name: species, dtype: object

__Importante__ si alguna llave/índice no lo encuentra, get() __no regresará nada__, para ello, podemos cambiar la condición default dentró del método.

In [18]:
iris_id.tail()

id
A146    virginica
A147    virginica
A148    virginica
A149    virginica
A150    virginica
Name: species, dtype: object

In [19]:
iris_id.get(['A2','A6','A21'], default='Este id no existe')

id
A2     setosa
A6     setosa
A21    setosa
Name: species, dtype: object

In [20]:
iris_id.get(['A2','A6','A211'], default='Este id no existe')

'Este id no existe'

In [24]:
google_df = pd.read_csv('./Datasets/google_stock_price.csv')
google = google_df.squeeze()
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [25]:
google.min()

49.95

In [26]:
google.max()

782.22

In [27]:
google.mean()

334.3100929614874

In [28]:
google.mode()

0    291.21
Name: Stock Price, dtype: float64

In [29]:
google.describe()

count    3012.000000
mean      334.310093
std       173.187205
min        49.950000
25%       218.045000
50%       283.315000
75%       443.000000
max       782.220000
Name: Stock Price, dtype: float64

> La media es sensible a _outliers_.

In [31]:
# Para ubicar la posición del valor máximo
google.idxmax()

3011

In [33]:
google[3011] ==google.max()

True

In [34]:
# Ubicar el índice donde ocurre el valor mínimo
google.idxmin()

11

In [35]:
google[11]==google.min()

True

### Método apply

In [36]:
housep_df = pd.read_csv("./Datasets/boston_house_prices.csv", usecols=['id','MEDV'], index_col='id')
housep = housep_df.squeeze()
housep.head()

id
A1    24.0
A2    21.6
A3    34.7
A4    33.4
A5    36.2
Name: MEDV, dtype: float64

#### MEDV -> valor/precio de la propiedad

In [37]:
housep.describe()

count    506.000000
mean      22.532806
std        9.197104
min        5.000000
25%       17.025000
50%       21.200000
75%       25.000000
max       50.000000
Name: MEDV, dtype: float64

#### Ejercicio 
Definir una función que, según el valor (MED) de la vivienda, diga si el precio es:
- 'bajo' si el precio es menor (<) que 17.025
- 'medio' si el precio esta entre 17.025 y 25
- 'alto' si el precico es mayor (>) que 25

In [38]:
def price_valuator(valor_hogar):
    if valor_hogar < 17.025:
        return 'bajo'
    elif valor_hogar < 25:
        return 'medio'
    else:
        return 'alto'

#### Para aplicar la función a una serie:
```
housep.apply(price_valuator)
```
A cada elemento de la serie se le aplicará la función price_valuator().

In [39]:
housep.apply(price_valuator)

id
A1      medio
A2      medio
A3       alto
A4       alto
A5       alto
        ...
A502    medio
A503    medio
A504    medio
A505    medio
A506     bajo
Name: MEDV, Length: 506, dtype: object

In [40]:
housep_2 = pd.read_csv("./Datasets/boston_house_prices.csv", usecols=['id','MEDV'], index_col='id')
housep_2.head()

    MEDV
id
A1  24.0
A2  21.6
A3  34.7
A4  33.4
A5  36.2

In [42]:
housep_2['price_range']=housep_2['MEDV'].apply(price_valuator)
housep_2.head()

    MEDV price_range
id
A1  24.0       medio
A2  21.6       medio
A3  34.7        alto
A4  33.4        alto
A5  36.2        alto

In [43]:
housep_2['price_range'].value_counts()

medio    247
alto     132
bajo     127
Name: price_range, dtype: int64