# Temas vistos el 14 de noviembre del 2022
[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/danielroa98/Postgrad-ML/blob/main/Module-1/14_Nov_2022_lec_03_M1G6P_DRG.ipynb)

### Library imports

In [1]:
import numpy as np
import pandas as pd

## Quick recap

In [2]:
lista = [1, np.nan, 3, 4]

In [3]:
s1 = pd.Series(lista)
s1

0    1.0
1    NaN
2    3.0
3    4.0
dtype: float64

In [4]:
s1.count()

3

In [5]:
# Atributo, no es una función
# Si cuenta valores nulos
s1.size

4

In [6]:
s1

0    1.0
1    NaN
2    3.0
3    4.0
dtype: float64

In [7]:
iris = pd.read_csv("./Datasets/iris.csv")
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

## Continuing

In [8]:
iris_id_df = pd.read_csv("./Datasets/iris_id.csv", usecols=['id','species'],index_col='id')
iris_id = iris_id_df.squeeze()

In [9]:
iris_id.head()

id
A1    setosa
A2    setosa
A3    setosa
A4    setosa
A5    setosa
Name: species, dtype: object

In [10]:
iris_id.index

Index(['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10',
       ...
       'A141', 'A142', 'A143', 'A144', 'A145', 'A146', 'A147', 'A148', 'A149',
       'A150'],
      dtype='object', name='id', length=150)

### Extrayendo mediante las etiquetas del índice

In [11]:
iris_id['A15']

'setosa'

In [12]:
# Ejemplo de otra sintáxis
iris_id['A1':'A20']
# Cuando se usan etiquetas del índice el límite superior si está incluido.

id
A1     setosa
A2     setosa
A3     setosa
A4     setosa
A5     setosa
A6     setosa
A7     setosa
A8     setosa
A9     setosa
A10    setosa
A11    setosa
A12    setosa
A13    setosa
A14    setosa
A15    setosa
A16    setosa
A17    setosa
A18    setosa
A19    setosa
A20    setosa
Name: species, dtype: object

In [13]:
# El último valor funciona como un "step", entonces brinca una cantidad de valores.
iris_id['A1':'A20':2]

id
A1     setosa
A3     setosa
A5     setosa
A7     setosa
A9     setosa
A11    setosa
A13    setosa
A15    setosa
A17    setosa
A19    setosa
Name: species, dtype: object

#### Método .get() sobre una Serie

In [14]:
iris_id.get(0)

'setosa'

In [15]:
iris_id.get("A20") # Equivalente a iris_id['A20']

'setosa'

In [16]:
iris_id.get(['A2','A6','A21'])

id
A2     setosa
A6     setosa
A21    setosa
Name: species, dtype: object

In [17]:
iris_id[['A2','A6','A21']]

id
A2     setosa
A6     setosa
A21    setosa
Name: species, dtype: object

__Importante__ si alguna llave/índice no lo encuentra, get() __no regresará nada__, para ello, podemos cambiar la condición default dentró del método.

In [18]:
iris_id.tail()

id
A146    virginica
A147    virginica
A148    virginica
A149    virginica
A150    virginica
Name: species, dtype: object

In [19]:
iris_id.get(['A2','A6','A21'], default='Este id no existe')

id
A2     setosa
A6     setosa
A21    setosa
Name: species, dtype: object

In [20]:
iris_id.get(['A2','A6','A211'], default='Este id no existe')

'Este id no existe'

In [21]:
google_df = pd.read_csv('./Datasets/google_stock_price.csv')
google = google_df.squeeze()
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [22]:
google.min()

49.95

In [23]:
google.max()

782.22

In [24]:
google.mean()

334.3100929614874

In [25]:
google.mode()

0    291.21
Name: Stock Price, dtype: float64

In [26]:
google.describe()

count    3012.000000
mean      334.310093
std       173.187205
min        49.950000
25%       218.045000
50%       283.315000
75%       443.000000
max       782.220000
Name: Stock Price, dtype: float64

> La media es sensible a _outliers_.

In [27]:
# Para ubicar la posición del valor máximo
google.idxmax()

3011

In [28]:
google[3011] ==google.max()

True

In [29]:
# Ubicar el índice donde ocurre el valor mínimo
google.idxmin()

11

In [30]:
google[11]==google.min()

True

### Método apply

In [31]:
housep_df = pd.read_csv("./Datasets/boston_house_prices.csv", usecols=['id','MEDV'], index_col='id')
housep = housep_df.squeeze()
housep.head()

id
A1    24.0
A2    21.6
A3    34.7
A4    33.4
A5    36.2
Name: MEDV, dtype: float64

#### MEDV -> valor/precio de la propiedad

In [32]:
housep.describe()

count    506.000000
mean      22.532806
std        9.197104
min        5.000000
25%       17.025000
50%       21.200000
75%       25.000000
max       50.000000
Name: MEDV, dtype: float64

#### Ejercicio 
Definir una función que, según el valor (MED) de la vivienda, diga si el precio es:
- 'bajo' si el precio es menor (<) que 17.025
- 'medio' si el precio esta entre 17.025 y 25
- 'alto' si el precico es mayor (>) que 25

In [33]:
def price_valuator(valor_hogar):
    if valor_hogar < 17.025:
        return 'bajo'
    elif valor_hogar < 25:
        return 'medio'
    else:
        return 'alto'

#### Para aplicar la función a una serie:
```
housep.apply(price_valuator)
```
A cada elemento de la serie se le aplicará la función price_valuator().

In [34]:
housep.apply(price_valuator)

id
A1      medio
A2      medio
A3       alto
A4       alto
A5       alto
        ...
A502    medio
A503    medio
A504    medio
A505    medio
A506     bajo
Name: MEDV, Length: 506, dtype: object

In [35]:
housep_2 = pd.read_csv("./Datasets/boston_house_prices.csv", usecols=['id','MEDV'], index_col='id')
housep_2.head()

    MEDV
id
A1  24.0
A2  21.6
A3  34.7
A4  33.4
A5  36.2

In [36]:
housep_2['price_range']=housep_2['MEDV'].apply(price_valuator)
housep_2.head()

    MEDV price_range
id
A1  24.0       medio
A2  21.6       medio
A3  34.7        alto
A4  33.4        alto
A5  36.2        alto

In [37]:
housep_2['price_range'].value_counts()

medio    247
alto     132
bajo     127
Name: price_range, dtype: int64

In [38]:
# Si queremos multiplicar por 2 CADA ELEMENTO de la serie.
# Se puede hacer de dos maneras:
# Primera versión
housep.apply(lambda x:x*2)

id
A1      48.0
A2      43.2
A3      69.4
A4      66.8
A5      72.4
        ...
A502    44.8
A503    41.2
A504    47.8
A505    44.0
A506    23.8
Name: MEDV, Length: 506, dtype: float64

In [39]:
# Segunda versión
# Broadcasting
housep*2

id
A1      48.0
A2      43.2
A3      69.4
A4      66.8
A5      72.4
        ...
A502    44.8
A503    41.2
A504    47.8
A505    44.0
A506    23.8
Name: MEDV, Length: 506, dtype: float64

## Intro to DataFrames

In [40]:
nba = pd.read_csv('./Datasets/nba.csv')
type(nba)

pandas.core.frame.DataFrame

In [43]:
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [44]:
nba.tail()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
nba.index

RangeIndex(start=0, stop=458, step=1)

In [47]:
len(nba)

458

In [48]:
nba.values

array([['Avery Bradley', 'Boston Celtics', 0.0, ..., 180.0, 'Texas',
        7730337.0],
       ['Jae Crowder', 'Boston Celtics', 99.0, ..., 235.0, 'Marquette',
        6796117.0],
       ['John Holland', 'Boston Celtics', 30.0, ..., 205.0,
        'Boston University', nan],
       ...,
       ['Tibor Pleiss', 'Utah Jazz', 21.0, ..., 256.0, nan, 2900000.0],
       ['Jeff Withey', 'Utah Jazz', 24.0, ..., 231.0, 'Kansas', 947276.0],
       [nan, nan, nan, ..., nan, nan, nan]], dtype=object)

In [49]:
nba.shape

(458, 9)

In [52]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

#### Atributos específicos de los DataFrames

In [53]:
nba.columns

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [54]:
nba.axes

[RangeIndex(start=0, stop=458, step=1),
 Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
        'College', 'Salary'],
       dtype='object')]

In [55]:
# Extraer una columna de un DataFrame
# Primera versión
nba.Name

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
456      Jeff Withey
457              NaN
Name: Name, Length: 458, dtype: object

In [56]:
nba['Name']

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
456      Jeff Withey
457              NaN
Name: Name, Length: 458, dtype: object

In [57]:
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

Se pueden usar todas las operaciones de las Series en las columnas de los _DataFrames_.

In [58]:
nba['Salary'].sum()

2159837111.0

In [59]:
nba['Salary'].mean()

4842684.105381166

In [60]:
nba['Salary'].describe()

count    4.460000e+02
mean     4.842684e+06
std      5.229238e+06
min      3.088800e+04
25%      1.044792e+06
50%      2.839073e+06
75%      6.500000e+06
max      2.500000e+07
Name: Salary, dtype: float64

In [62]:
# Se pueden extraer elementos del describe ya que es una serie
nba['Salary'].describe()[2]

5229237.598910348

In [65]:
# Extraer 2 o más columnas -> se pasa una lista
nba[['Weight','Age']].head(10)

   Weight   Age
0   180.0  25.0
1   235.0  25.0
2   205.0  27.0
3   185.0  22.0
4   231.0  29.0
5   240.0  29.0
6   235.0  21.0
7   238.0  25.0
8   190.0  22.0
9   220.0  22.0

In [66]:
# El orden depende de cómo se exprese 
##   nba[['Weight','Age', 'Team']] va a tener un orden distinto en las columnas en comparación con
##   nba[['Weight', 'Team', 'Age']]
nba[['Weight','Age', 'Team']].head(10)

   Weight   Age            Team
0   180.0  25.0  Boston Celtics
1   235.0  25.0  Boston Celtics
2   205.0  27.0  Boston Celtics
3   185.0  22.0  Boston Celtics
4   231.0  29.0  Boston Celtics
5   240.0  29.0  Boston Celtics
6   235.0  21.0  Boston Celtics
7   238.0  25.0  Boston Celtics
8   190.0  22.0  Boston Celtics
9   220.0  22.0  Boston Celtics

In [67]:
cols = ['Name','Team','Salary']
nba[cols]

              Name            Team     Salary
0    Avery Bradley  Boston Celtics  7730337.0
1      Jae Crowder  Boston Celtics  6796117.0
2     John Holland  Boston Celtics        NaN
3      R.J. Hunter  Boston Celtics  1148640.0
4    Jonas Jerebko  Boston Celtics  5000000.0
..             ...             ...        ...
453   Shelvin Mack       Utah Jazz  2433333.0
454      Raul Neto       Utah Jazz   900000.0
455   Tibor Pleiss       Utah Jazz  2900000.0
456    Jeff Withey       Utah Jazz   947276.0
457            NaN             NaN        NaN

[458 rows x 3 columns]

In [68]:
# Definir una nueva columna (Sport) con el valor 'basketball' en cada renglón:
nba['Sport']='basketball'

In [71]:
nba.tail()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Sport
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,basketball
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0,basketball
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0,basketball
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,basketball
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,basketball

#### Método insert()
Inserta un mismo valor para todos los renglones.
```
df.insert(position, column_name, value)
```

In [72]:
nba.insert(3, 'Country','USA')
nba.head()

,Name,Team,Number,Country,Position,Age,Height,Weight,College,Salary,Sport
0,Avery Bradley,Boston Celtics,0.0,USA,PG,25.0,6-2,180.0,Texas,7730337.0,basketball
1,Jae Crowder,Boston Celtics,99.0,USA,SF,25.0,6-6,235.0,Marquette,6796117.0,basketball
2,John Holland,Boston Celtics,30.0,USA,SG,27.0,6-5,205.0,Boston University,NaN,basketball
3,R.J. Hunter,Boston Celtics,28.0,USA,SG,22.0,6-5,185.0,Georgia State,1148640.0,basketball
4,Jonas Jerebko,Boston Celtics,8.0,USA,PF,29.0,6-10,231.0,NaN,5000000.0,basketball

#### Broadcasting operations

In [75]:
# Agregar una constante a todos los valores
print(f'Age before broadcasting operations {nba["Age"]}\n\nAge after broadcasting operations {nba["Age"].add(5)}')

Age before broadcasting operations 0      25.0
1      25.0
2      27.0
3      22.0
4      29.0
       ...
453    26.0
454    24.0
455    26.0
456    26.0
457     NaN
Name: Age, Length: 458, dtype: float64

Age after broadcasting operations 0      30.0
1      30.0
2      32.0
3      27.0
4      34.0
       ...
453    31.0
454    29.0
455    31.0
456    31.0
457     NaN
Name: Age, Length: 458, dtype: float64

In [76]:
nba['Salary'].sub(50000)

0      7680337.0
1      6746117.0
2            NaN
3      1098640.0
4      4950000.0
         ...
453    2383333.0
454     850000.0
455    2850000.0
456     897276.0
457          NaN
Name: Salary, Length: 458, dtype: float64

In [77]:
# De lbs a kgs.
nba['Weight'].mul(0.454)

0       81.720
1      106.690
2       93.070
3       83.990
4      104.874
        ...
453     92.162
454     81.266
455    116.224
456    104.874
457        NaN
Name: Weight, Length: 458, dtype: float64

In [78]:
nba['Weigh_kgs'] = nba['Weight'].mul(0.454)
nba.head()

,Name,Team,Number,Country,Position,Age,Height,Weight,College,Salary,Sport,Weigh_kgs
0,Avery Bradley,Boston Celtics,0.0,USA,PG,25.0,6-2,180.0,Texas,7730337.0,basketball,81.720
1,Jae Crowder,Boston Celtics,99.0,USA,SF,25.0,6-6,235.0,Marquette,6796117.0,basketball,106.690
2,John Holland,Boston Celtics,30.0,USA,SG,27.0,6-5,205.0,Boston University,NaN,basketball,93.070
3,R.J. Hunter,Boston Celtics,28.0,USA,SG,22.0,6-5,185.0,Georgia State,1148640.0,basketball,83.990
4,Jonas Jerebko,Boston Celtics,8.0,USA,PF,29.0,6-10,231.0,NaN,5000000.0,basketball,104.874

In [81]:
nba[['Weight','Age']]*2

     Weight   Age
0     360.0  50.0
1     470.0  50.0
2     410.0  54.0
3     370.0  44.0
4     462.0  58.0
..      ...   ...
453   406.0  52.0
454   358.0  48.0
455   512.0  52.0
456   462.0  52.0
457     NaN   NaN

[458 rows x 2 columns]

In [83]:
# Usando apply() y una función anónima
nba[['Weight','Age']].apply(lambda x:x*2)

     Weight   Age
0     360.0  50.0
1     470.0  50.0
2     410.0  54.0
3     370.0  44.0
4     462.0  58.0
..      ...   ...
453   406.0  52.0
454   358.0  48.0
455   512.0  52.0
456   462.0  52.0
457     NaN   NaN

[458 rows x 2 columns]

In [84]:
nba.head()

,Name,Team,Number,Country,Position,Age,Height,Weight,College,Salary,Sport,Weigh_kgs
0,Avery Bradley,Boston Celtics,0.0,USA,PG,25.0,6-2,180.0,Texas,7730337.0,basketball,81.720
1,Jae Crowder,Boston Celtics,99.0,USA,SF,25.0,6-6,235.0,Marquette,6796117.0,basketball,106.690
2,John Holland,Boston Celtics,30.0,USA,SG,27.0,6-5,205.0,Boston University,NaN,basketball,93.070
3,R.J. Hunter,Boston Celtics,28.0,USA,SG,22.0,6-5,185.0,Georgia State,1148640.0,basketball,83.990
4,Jonas Jerebko,Boston Celtics,8.0,USA,PF,29.0,6-10,231.0,NaN,5000000.0,basketball,104.874

In [91]:
# Se quiere extraer o filtrar a los jugadores cuya posición es 'PG'
is_PG = nba['Position'] == 'PG'

In [92]:
is_PG

0       True
1      False
2      False
3      False
4      False
       ...
453     True
454     True
455    False
456    False
457    False
Name: Position, Length: 458, dtype: bool

In [96]:
# Solo va a dejar a los jugadores cuya condición es igual a 'True'
nba[is_PG]

,Name,Team,Number,Country,Position,Age,Height,Weight,College,Salary,Sport,Weigh_kgs
0,Avery Bradley,Boston Celtics,0.0,USA,PG,25.0,6-2,180.0,Texas,7730337.0,basketball,81.720
8,Terry Rozier,Boston Celtics,12.0,USA,PG,22.0,6-2,190.0,Louisville,1824360.0,basketball,86.260
9,Marcus Smart,Boston Celtics,36.0,USA,PG,22.0,6-4,220.0,Oklahoma State,3431040.0,basketball,99.880
11,Isaiah Thomas,Boston Celtics,4.0,USA,PG,27.0,5-9,185.0,Washington,6912869.0,basketball,83.990
19,Jarrett Jack,Brooklyn Nets,2.0,USA,PG,32.0,6-3,200.0,Georgia Tech,6300000.0,basketball,90.800
...,...,...,...,...,...,...,...,...,...,...,...,...
440,Brian Roberts,Portland Trail Blazers,2.0,USA,PG,30.0,6-1,173.0,Dayton,2854940.0,basketball,78.542
443,Trey Burke,Utah Jazz,3.0,USA,PG,23.0,6-1,191.0,Michigan,2658240.0,basketball,86.714
445,Dante Exum,Utah Jazz,11.0,USA,PG,20.0,6-6,190.0,NaN,3777720.0,basketball,86.260
453,Shelvin Mack,Utah Jazz,8.0,USA,PG,26.0,6-3,203.0,Butler,2433333.0,basketball,92.162
454,Raul Neto,Utah Jazz,25.0,USA,PG,24.0,6-1,179.0,NaN,900000.0,basketball,81.266

In [101]:
# unique() regresa los valores únicos de la columna especificada.
print(f"Todas las posiciones únicas del DataFrame {nba['Position'].unique()}\nPosición única del ejemplo con la máscara booleana {nba[is_PG]['Position'].unique()}")

Todas las posiciones únicas del DataFrame ['PG' 'SF' 'SG' 'PF' 'C' nan]
Posición única del ejemplo con la máscara booleana ['PG']

In [102]:
nba[nba['Position']=='PG']

,Name,Team,Number,Country,Position,Age,Height,Weight,College,Salary,Sport,Weigh_kgs
0,Avery Bradley,Boston Celtics,0.0,USA,PG,25.0,6-2,180.0,Texas,7730337.0,basketball,81.720
8,Terry Rozier,Boston Celtics,12.0,USA,PG,22.0,6-2,190.0,Louisville,1824360.0,basketball,86.260
9,Marcus Smart,Boston Celtics,36.0,USA,PG,22.0,6-4,220.0,Oklahoma State,3431040.0,basketball,99.880
11,Isaiah Thomas,Boston Celtics,4.0,USA,PG,27.0,5-9,185.0,Washington,6912869.0,basketball,83.990
19,Jarrett Jack,Brooklyn Nets,2.0,USA,PG,32.0,6-3,200.0,Georgia Tech,6300000.0,basketball,90.800
...,...,...,...,...,...,...,...,...,...,...,...,...
440,Brian Roberts,Portland Trail Blazers,2.0,USA,PG,30.0,6-1,173.0,Dayton,2854940.0,basketball,78.542
443,Trey Burke,Utah Jazz,3.0,USA,PG,23.0,6-1,191.0,Michigan,2658240.0,basketball,86.714
445,Dante Exum,Utah Jazz,11.0,USA,PG,20.0,6-6,190.0,NaN,3777720.0,basketball,86.260
453,Shelvin Mack,Utah Jazz,8.0,USA,PG,26.0,6-3,203.0,Butler,2433333.0,basketball,92.162
454,Raul Neto,Utah Jazz,25.0,USA,PG,24.0,6-1,179.0,NaN,900000.0,basketball,81.266

In [110]:
# Se quiere filtrar a todos los Point Guards y con una edad mayor a 27 años.
cond1 = nba['Position'] == 'PG'
cond2 = nba['Age'] > 27

# nba[cond1 & cond2]
nba[cond1 & cond2]

,Name,Team,Number,Country,Position,Age,Height,Weight,College,Salary,Sport,Weigh_kgs
19,Jarrett Jack,Brooklyn Nets,2.0,USA,PG,32.0,6-3,200.0,Georgia Tech,6300000.0,basketball,90.800
28,Donald Sloan,Brooklyn Nets,15.0,USA,PG,28.0,6-3,205.0,Texas A&M,947276.0,basketball,93.070
34,Jose Calderon,New York Knicks,3.0,USA,PG,34.0,6-3,200.0,NaN,7402812.0,basketball,90.800
67,Kyle Lowry,Toronto Raptors,7.0,USA,PG,30.0,6-0,205.0,Villanova,12000000.0,basketball,93.070
80,Stephen Curry,Golden State Warriors,30.0,USA,PG,28.0,6-3,190.0,Davidson,11370786.0,basketball,86.260
84,Shaun Livingston,Golden State Warriors,34.0,USA,PG,30.0,6-7,192.0,NaN,5543725.0,basketball,87.168
100,Chris Paul,Los Angeles Clippers,3.0,USA,PG,31.0,6-0,175.0,Wake Forest,21468695.0,basketball,79.450
102,Pablo Prigioni,Los Angeles Clippers,9.0,USA,PG,39.0,6-3,185.0,NaN,947726.0,basketball,83.990
112,Marcelo Huertas,Los Angeles Lakers,9.0,USA,PG,33.0,6-3,200.0,NaN,525093.0,basketball,90.800
131,Ronnie Price,Phoenix Suns,14.0,USA,PG,32.0,6-2,190.0,Utah Valley,947276.0,basketball,86.260
142,Darren Collison,Sacramento Kings,7.0,USA,PG,28.0,6-0,175.0,UCLA,5013559.0,basketball,79.450
150,Rajon Rondo,Sacramento Kings,9.0,USA,PG,30.0,6-1,186.0,Kentucky,9500000.0,basketball,84.444
152,Aaron Brooks,Chicago Bulls,0.0,USA,PG,31.0,6-0,161.0,Oregon,2250000.0,basketball,73.094
180,Mo Williams,Cleveland Cavaliers,52.0,USA,PG,33.0,6-1,198.0,Alabama,2100000.0,basketball,89.892
183,Steve Blake,Detroit Pistons,22.0,USA,PG,36.0,6-3,172.0,Maryland,2170465.0,basketball,78.088
200,George Hill,Indiana Pacers,3.0,USA,PG,30.0,6-3,188.0,IUPUI,8000000.0,basketball,85.352
203,Ty Lawson,Indiana Pacers,10.0,USA,PG,28.0,5-11,195.0,North Carolina,211744.0,basketball,88.530
207,Rodney Stuckey,Indiana Pacers,2.0,USA,PG,30.0,6-5,205.0,Eastern Washington,7000000.0,basketball,93.070
225,Greivis Vasquez,Milwaukee Bucks,21.0,USA,PG,29.0,6-6,217.0,Maryland,6600000.0,basketball,98.518
228,J.J. Barea,Dallas Mavericks,5.0,USA,PG,31.0,6-0,185.0,Northeastern,4290000.0,basketball,83.990
230,Raymond Felton,Dallas Mavericks,2.0,USA,PG,31.0,6-1,205.0,North Carolina,3950313.0,basketball,93.070
231,Devin Harris,Dallas Mavericks,34.0,USA,PG,33.0,6-3,185.0,Wisconsin,4053446.0,basketball,83.990
241,Deron Williams,Dallas Mavericks,8.0,USA,PG,31.0,6-3,200.0,Illinois,5378974.0,basketball,90.800
262,Mike Conley,Memphis Grizzlies,11.0,USA,PG,28.0,6-1,175.0,Ohio State,9588426.0,basketball,79.450
264,Jordan Farmar,Memphis Grizzlies,4.0,USA,PG,29.0,6-2,180.0,UCLA,NaN,basketball,81.720
283,Toney Douglas,New Orleans Pelicans,16.0,USA,PG,30.0,6-2,195.0,Florida State,1164858.0,basketball,88.530
304,Andre Miller,San Antonio Spurs,24.0,USA,PG,40.0,6-3,200.0,Utah,250750.0,basketball,90.800
306,Tony Parker,San Antonio Spurs,9.0,USA,PG,34.0,6-2,185.0,NaN,13437500.0,basketball,83.990
341,Goran Dragic,Miami Heat,7.0,USA,PG,30.0,6-3,190.0,NaN,14783000.0,basketball,86.260
367,C.J. Watson,Orlando Magic,32.0,USA,PG,32.0,6-2,175.0,Tennessee,5000000.0,basketball,79.450
379,Ramon Sessions,Washington Wizards,7.0,USA,PG,30.0,6-3,190.0,Nevada,2170465.0,basketball,86.260
384,D.J. Augustin,Denver Nuggets,12.0,USA,PG,28.0,6-0,183.0,Texas,3000000.0,basketball,83.082
394,Jameer Nelson,Denver Nuggets,1.0,USA,PG,34.0,6-0,190.0,Saint Joseph's,4345000.0,basketball,86.260
440,Brian Roberts,Portland Trail Blazers,2.0,USA,PG,30.0,6-1,173.0,Dayton,2854940.0,basketball,78.542

In [114]:
nba[cond1 & cond2]['Team'].value_counts()

Dallas Mavericks          4
Indiana Pacers            3
Sacramento Kings          2
Denver Nuggets            2
San Antonio Spurs         2
Memphis Grizzlies         2
Brooklyn Nets             2
Los Angeles Clippers      2
Golden State Warriors     2
Phoenix Suns              1
Chicago Bulls             1
Cleveland Cavaliers       1
Detroit Pistons           1
New York Knicks           1
Milwaukee Bucks           1
Los Angeles Lakers        1
New Orleans Pelicans      1
Miami Heat                1
Orlando Magic             1
Washington Wizards        1
Toronto Raptors           1
Portland Trail Blazers    1
Name: Team, dtype: int64