# Temas vistos el 28 de noviembre del 2022
[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/danielroa98/Postgrad-ML/blob/main/Module-1/30_Nov_2022_lec_07_M1G6P_DRG.ipynb)

In [1]:
import pandas as pd
import numpy as np

In [2]:
from functools import reduce

## Continuación de la clase del [28 de noviembre del 2022](./28_Nov_2022_lec_06_M1G6P_DRG.ipynb)

### Función `filter()`

Nos permite filtrar elementos de una secuencia (listas, conjuntos, tuples, etc...), a través de una función que cumpla con cierto criterio.

Sintaxis:

`filter(f(), sequence)` -> devuelve los elementos de la secuencia que son `True` según las condiciones impuestas por la función `f()`.

In [3]:
emp = pd.read_csv('./Datasets/employees_2.csv', parse_dates=['Start Date', 'Last Login Time'])
emp.head()

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,1993-08-06,2022-11-30 12:42:00,97308,6.945,True,Marketing
1,Thomas,Male,1996-03-31,2022-11-30 06:53:00,61933,4.170,True,NaN
2,Maria,Female,1993-04-23,2022-11-30 11:17:00,130590,11.858,False,Finance
3,Jerry,Male,2005-03-04,2022-11-30 13:00:00,138705,9.340,True,Finance
4,Larry,Male,1998-01-24,2022-11-30 16:47:00,101004,1.389,True,Client Services

In [4]:
def is_male(emp_gender):
    if emp_gender == 'Male':
        return True
    else:
        return False

In [5]:
# Esto regresa los elementos de la columna 'Gender' que sean 'True' bajo la condición impuesta por la función is_male().
list(filter(is_male, emp['Gender']))

['Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male']

In [6]:
# También se puede convertir en un Series.
pd.Series(list(filter(is_male, emp['Gender'])))

0      Male
1      Male
2      Male
3      Male
4      Male
       ...
419    Male
420    Male
421    Male
422    Male
423    Male
Length: 424, dtype: object

También se puede aplicar funciones lambda/anónimas.

In [7]:
lst = [1,2,3,4,5,6,7,8,9,10]
pares = list(filter(lambda l:l%2 == 0, lst))

print(pares)

[2, 4, 6, 8, 10]

In [8]:
impares = list(filter(lambda l:l%2 != 0, lst))

print(impares)

[1, 3, 5, 7, 9]

Alternativa a lo anterior

Sólo se modificó la operación lógica de `!=` a `~` antes de terminar de declarar la función lambda.

In [9]:
impares = list(filter(lambda l:~l%2 == 0, lst))

print(impares)

[1, 3, 5, 7, 9]

1) Definir una función que verifique que elementos de una lista son vocales

In [10]:
def find_vowels(lttr):
    vowels = ['a','e','i','o','u']
    if lttr in vowels:
        return True
    else:
        return False

In [11]:
sqnce = ['f', 'a', 'b', 'g', 'z', 'a', 'e']
filtrados = filter(find_vowels, sqnce)

print(list(filtrados))

['a', 'a', 'e']

2) Encontrar la intersección de dos listas utilizando una función lambda

In [12]:
lst1 = [1,2,3,5,7,9,11,12,20]
lst2 = [2,5,11,9]

# Filtra los elementos de la segunda lista (lst2) que cumplen con la restricción de la función.
## Es decir: x:x in lst1
print(list(filter(lambda x:x in lst1, lst2)))

[2, 5, 11, 9]

3) Encontrar la diferencia entre la lista 1 y la lista 2
(`lst1 \ lst2`)

In [13]:
lst1 = [1,2,3,5,7,9,11,12,20]
lst2 = [2,5,11,9]

print(list(filter(lambda x:x not in lst2, lst1)))

[1, 3, 7, 12, 20]

Prueba con un string

In [14]:
word1 = 'sequence'
word2 = 'consequence'

print(list(filter(lambda x:x in word2, word1)))

['s', 'e', 'q', 'u', 'e', 'n', 'c', 'e']

### Función map()

La función `map()` aplica una función _f_ a un iterable _X_ de __n__ elementos entrada por salida:

```python
map(f,X) = [f(x1),f(x2), ...,f(xn)]
```

Donde X = (x1, x2, ..., xn)

__map()__ siempre regresa un iterable, pero para ver sus valores lo pasamos a una lista.

#### Ejemplo 1:

Se quiere elevar al cuadrado cada elemento de un rango

In [15]:
rango = map(lambda x:x**2, range(1, 11))
print(list(rango))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

El siguiente ejemplo va a marcar un error, esto es porque _range_ no tiene el método:
```python
apply()
```

In [16]:
rango = range(1,11)
rango.apply(lambda x:x**2)

AttributeError: 'range' object has no attribute 'apply'

Para solucionar lo anterior, se puede convertir el rango a una serie

In [18]:
pd.Series(rango).apply(lambda x:x**2)

0      1
1      4
2      9
3     16
4     25
5     36
6     49
7     64
8     81
9    100
dtype: int64

#### Ejemplo 2
Aplicar una función donde los argumentos provienene de diferentes rangos.

i.e. Suponemos que _x_ pertence a __range(a1, b1)__, _y_ pertenece a __range(a2, b2)__

In [19]:
res = list(map(lambda x,y:x+y, range(1,11), range(10,100)))

print(res)

[11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

Del bloque anterior, aunque los rangos sean de diferentes tamaños, la función __map()__ se fija en la misma cantidad de valores en cada uno.

In [20]:
lst1 = [1,2,3]
lst2 = [4,5,6]

res = list(map(lambda x,y:x+y, lst1, lst2))
print(res)

[5, 7, 9]

In [21]:
# Unión de las dos listas
lst1 + lst2

[1, 2, 3, 4, 5, 6]

In [22]:
lst1 = [1,2,3]
lst2 = [4,5,6]
lst3 = [7,8,9]

res = list(map(lambda x,y,z: x+y+z, lst1, lst2, lst3))
print(res)

[12, 15, 18]

¡Nota rápida!

Si se aplica la función list() a un String, se le hará un split automáticamente.

```python
list('monday')

> ['m', 'o', 'n', 'd', 'a', 'y']
```

In [23]:
# Aplicaciones dentro de NLP (Natural Language Processing)
lst = ['lu', 'ma','mie','jue','vie']
res = map(list, lst)

print(list(res))

[['l', 'u'], ['m', 'a'], ['m', 'i', 'e'], ['j', 'u', 'e'], ['v', 'i', 'e']]

### Ejercicios de filter y map

In [24]:
z = filter(lambda x:(x >= 5), (3,4,5,6,7))

print(list(z))

[5, 6, 7]

In [25]:
# Sin importar el tamaño del iterable, va a aplicar 
reduce(lambda x,y: x+y, [11,12,14,15])

52

## set_index()

In [26]:
# Cuando pasa un .CSV con el param index_col,
## convierte la columna especificada en el índice del DataFrame.
emp = pd.read_csv('./Datasets/employees_2.csv', index_col='First Name')
emp.head()

,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
First Name,,,,,,,
Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing
Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN
Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance
Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance
Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services

In [28]:
emp = pd.read_csv('./Datasets/employees_2.csv')
emp.head()

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services

In [ ]:
emp.set_index()