# Temas vistos el 28 de noviembre del 2022
[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/danielroa98/Postgrad-ML/blob/main/Module-1/30_Nov_2022_lec_07_M1G6P_DRG.ipynb)

In [1]:
import pandas as pd
import numpy as np

## Continuación de la clase del [28 de noviembre del 2022](./28_Nov_2022_lec_06_M1G6P_DRG.ipynb)

### Función `filter()`

Nos permite filtrar elementos de una secuencia (listas, conjuntos, tuples, etc...), a través de una función que cumpla con cierto criterio.

Sintaxis:

`filter(f(), sequence)` -> devuelve los elementos de la secuencia que son `True` según las condiciones impuestas por la función `f()`.

In [2]:
emp = pd.read_csv('./Datasets/employees_2.csv', parse_dates=['Start Date', 'Last Login Time'])
emp.head()

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,1993-08-06,2022-11-30 12:42:00,97308,6.945,True,Marketing
1,Thomas,Male,1996-03-31,2022-11-30 06:53:00,61933,4.170,True,NaN
2,Maria,Female,1993-04-23,2022-11-30 11:17:00,130590,11.858,False,Finance
3,Jerry,Male,2005-03-04,2022-11-30 13:00:00,138705,9.340,True,Finance
4,Larry,Male,1998-01-24,2022-11-30 16:47:00,101004,1.389,True,Client Services

In [ ]:
def is_male(emp_gender):
    if emp_gender == 'Male':
        return True
    else:
        return False